amqp==2.3.2
Babel==2.6.0
beautifulsoup4==4.6.0
billiard==3.5.0.4
celery==4.2.0
certifi==2018.4.16
chardet==3.0.4
Django==1.11
djangorestframework==3.8.2
idna==2.7
kombu==4.2.1
Pygments==2.2.0
pytz==2018.4
requests==2.19.1
selenium==3.13.0
tornado==5.0.2
urllib3==1.23
vine==1.1.4
XlsxWriter==1.0.5
